* {
    border-style: border-box;
    padding: 0;
    margin: 0;    
  }

.calculator {
    height: 800px;
    width: 800px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.calculator-display{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    height: 150px;
    margin: 25px;
}

.buttons {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin: 25px;
    margin-top: 50px;
    height: 525px;


    display: flex;
    flex-direction: row;
}

button{
    height: 100px;
    width: 100px;
}

.numbers{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    width: 600px;
    height: 500px;
    
}

.operators, .equals{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 150px;
}
